{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
             content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="flase" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="{% url 'index' %}" class="nav-link"><i class="far fa-gem">DSschool</i></a>
            </li>
        </ul>
        <a class="p-2 text-white" href="{% url 'index' %}">Главня страница</a>
        <a class="p-2 text-white" href="{% url 'add-us' %}">Добавить</a>
        <a class="p-2 text-white" href="{% url 'draft' %}">Черновик</a>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Регистрация
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% if user.is_authenticated %}
                    <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
                {% else %}
                    <a class="dropdown-item" href="{% url 'login' %}">Вход</a>
                    <a class="dropdown-item" href="{% url 'register' %}">Регистрация</a>
                {% endif %}

            </div>
        </div>
        <form class="d-flex" method="post" action="{% url 'search' %}">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search" name="search">
            <button class="btn btn-outline-success" type="submit">Поиск</button>
        </form>
    </div>
</nav>

<div class="container">
    {% block content %} {% endblock %}
    {% block generic %} {% endblock %}
</div>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/b7086954d3.js" crossorigin="anonymous"></script>
</html>